@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Chakra+Petch&family=Dongle:wght@300&family=Josefin+Sans:wght@200&family=Luxurious+Roman&family=Mochiy+Pop+P+One&family=Roboto:ital,wght@0,300;1,100;1,300&family=Yanone+Kaffeesatz:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}

.container-1-index{
    min-height: 100vh;
    width: 100%;
    background-image: url("mainpic.jpg");
    background-size: cover;
    position: relative;
    border: 20px solid;
    display: flex;

}

.box-1{
  position: relative;
  top: -50px;

}



.navbar{
    font-size: larger;
    font-display: center;    

}

.navbar-text{
    color: rgb(236, 235, 230);
   

}


header {
  position: relative;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
position: absolute;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: 0;
-ms-transform: translateX(-50%) translateY(-50%);
-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
}


header .container {
position: relative;
z-index: 2;
}


/* Media Query for devices withi coarse pointers and no hover functionality */
/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */

.collection-container{
  width: 75%;
  display: grid;
  grid-template-columns: 50% 50% 50%;
  grid-template-rows: 50% 50% 50%;
  grid-gap: 5px;
}

.collection{
  position: relative;
}

.collection img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* .collection:nth-child(3){
  grid-column: span 2;
  margin-bottom: 10px;
} */


@media (pointer: coarse) and (hover: none) {
  header {
    background: url(images/logo/shopVid.mp4).mp4) black no-repeat center center scroll;
  }

  header video {
    display: none;
  }
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    height: auto;
  }

  .fa:hover {
    opacity: 0.7;
  }
  

  .fa-facebook {
    background: #3B5998;
    color: white;
}

.footer{
    background-color: black;
    font-size: large;

}

.fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-linkedin {
    background: #c555ee;
    color: white;
  }
  .hover_effect {
    height:25%;
    width: auto; 
  }
   
  .hover_effect:hover {
    height: 100%;
    width: auto;
  }
/*About Us styles goes here: below */
.media {
  display: flex;
  align-items: flex-start;
}
.media .content {
  flex: 1;
  padding: 10px;
}

/*The content below this line is for the new foorter that i have just created today Monday 6/27/2022. */
* {
  box-sizing: border-box;
  font-family: ’Lato’, sans-serif;
  margin: 0; 
  padding: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
footer {
  background-color: #555;
  color: #bbb;
  line-height: 1.5;
}
footer a {
  text-decoration: none;
  color: #eee;
}
a:hover {
  text-decoration: underline;
}
.ft-title {
  color: #fff;
  font-family: ’Merriweather’, serif;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}
/* the css for the new footer continues here (below this line) */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.container {
  flex: 1;    /* same as flex-grow: 1; */
}
/* the code below will line up the new footer */
.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}
.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem /*200px*/;
}

/* this line of code will style the newsletter Form*/
form {
  display: flex;
  flex-wrap: wrap;
}
input[type="email"] {
  border: 0;
  padding: 0.625rem;
  margin-top: 0.3125rem;
}
input[type="submit"] {
  background-color: #00d188;
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
}

/* this line of code will Line Up the Social Footer*/
.ft-social {
  padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px #777 solid; 
  padding-top: 1.25rem;
}
.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
}

/* this line of code will Line Up the Legal Footer*/
.ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: #333;
}
.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
  flex: 1;       /* same as flex-grow: 1; */
}

/* this line works for About Us page*/
.section{
  width: 100%;
  min-height: 100vh;
  background-clor: #ddd;
}
.container{
  width: 80%;
  display: block;
  margin: auto
  padding-top: 100px;
}

/*this styles is for the 2nd picture card product navbar*/
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}



/* the line below shows product section of the Home/Index page */
.products{
  background: var(--alice-blue);
  padding: 3.2rem 0;
}
.products .text-light{
  text-align: center;
  width: 70%;
  margin: 0.9rem auto;
}
.product{
  margin: 2rem;
  position: relative;
}
.product-content{
  background: var(--gray);
  padding: 3rem 0.5rem 2rem 0.5rem;
  cursor: pointer;
}
.product-img{
  background: var(--white-light);
  box-shadow: 0 0 20px 10px var(--white-light);
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  transition: background 0.5s ease;
}
.product-btns{
  display: flex;
  justify-content: center;
  margin-top: 1.4rem;
  opacity: 0;
  transition: opacity 0.6s ease;
}
.btn-cart, .btn-buy{
  background: transparent;
  border: 1px solid black;
  padding: 0.8rem 0;
  width: 125px;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: all 0.6s ease;
}
.btn-cart{
  background: black;
  color: white;
}
.btn-cart:hover{
  background: var(--carribean-green);
}
.btn-buy{
  background: white;
}
.btn-buy:hover{
  background: var(--carribean-green);
  color: #fff;
}
.product-info{
  background: white;
  padding: 2rem;
}
.product-info-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rating span{
  color: var(--carribean-green);
}


.off-info .sm-title{
  background: var(--carribean-green);
  color: white;
  display: inline-block;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  z-index: 1;
  letter-spacing: 3px;
  cursor: pointer;
}

/* product collection */
.product-collection{
  padding: 3.2rem 0;
}
.product-collection-wrapper{
  padding: 3.2rem 0;
}
.product-col-left{
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("images/fashion-img-1.jpg") center/cover no-repeat;
}
.product-col-r-top{
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("images/fashion-img-2.png") center/cover no-repeat;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 50vh;
  padding: 2rem 1.5rem 3.2rem;
  margin: 5px;
}
.product-col-r-bottom > div:first-child{
  background: #eaa001;
}
.product-col-r-bottom > div:last-child{
  background: #0090ff;
}
.product-col-content{
  text-align: center;
  color: white;
}

.product-collection .text-light{
  opacity: 1;
  font-size: 0.8;
  font-weight: 400;
  line-height: 1.7;
}
.btn-dark{
  background: black;
  color: white;
  outline: 0;
  border-radius: 25px;
  padding: 0.7rem 1rem;
  border: 0;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.6s ease;
  font-size: 1rem;
  font-family: inherit;
}
.btn-dark:hover{
  background: var(--carribean-green);
}







/* Media Queries */
@media screen and (min-width: 992px){
  .product-items{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
  .product-col-r-bottom{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
}*/
@media screen and (min-width: 1200px){
  .product-items{
      grid-template-columns: repeat(3, 1fr);
  }
  .product{
      margin-right: 1rem;
      margin-left: 1rem;
  }
  .products .text-light{
      width: 50%;
  }
}

@media screen and (min-width: 1336px){
  .product-items{
      grid-template-columns: repeat(4, 1fr);
  }
  .product-collection-wrapper{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
  .flex{
      height: 60vh;
  }
  .product-col-left{
      height: 121.5vh;
  }
}




/*the line below is the styles for the 1st picture card inside of About Us page*/

img {
  width: 20%;
}
body {
  background-color: #eaeff1;
  font-family: "Raleway", sans-serif;
}
img {
  width: 100%;
}
img-About-us{
  ...
  border-radius: 12px;
  height: 214px;
}
img {
  ...
  object-fit: cover;
}
#container {
  max-width: 300px;

  /* Center the container in middle on horizontal axis */
  margin: 0 auto;

  /* Add empty space above the container (20% of the view height) */
  margin-top: 20vh;
}
.card {
  /* Change background color */
  background-color: white;

  /* Add border */
  border: 1px solid #bacdd8;

  /* Add space between the border and the content */
  padding: 8px;

  border-radius: 12px;
}

/*Here I have the styles for Carousel slides in home page*/

*, *::before, *::after {
  box-sizing: border-box;
}

body-index{
  margin: 0;
}

.carousel {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.carousel >ul {
  margin: 0;
  padding: 0;
   list-style: none;
}
.slide-index {
  position: center;
  inset: 0;
  opacity: 0;
}

.slide > img {
  display: block;
  width: 30%;
  height :25%;
  object-fit: cover;
  object-position: center;
}
.slide[data-active] {
  opacity: 1;
}
.carousel.button {
  position:absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top:50%;
  transform: translateY(-50%);
  color:rgba(255,255,255, .5);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: rgba(0, 0, 0, .1),;
}
.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0,0,0, .2);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 1rem;  
}

.carousel-button.next {
  left: 1rem; 
}



/*[(THIS LINE CAN BE DELETED. IT IS NO LONGER IN USE.)]*/
/* this line should be ignored due to fact that a new picture card has been created for the Home/Index page. this line works on the home/index page - for the forms and tables [(THIS LINE CAN BE DELETED. IT IS NO LONGER IN USE.)]
:root{
  --white-light: rgba(255, 255, 255, 0.5);
  --alice-blue: #f8f9fa;
  --carribean-green: #40c9a2;
  --gray: #ededed;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Quicksand', sans-serif;
}

/* Utility stylings 
img{
  width: 100%;
  display: block;
}
.container{
  width: 88vw;
  margin: 0 auto;
}
.lg-title,
.md-title,
.sm-title{
  font-family: 'Roboto', sans-serif;
  padding: 0.6rem 0;
  text-transform: capitalize;
}
.lg-title{
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  padding: 1.3rem 0;
  opacity: 0.9;
}
.md-title{
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
}
.sm-title{
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
}
.text-light{
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  opacity: 0.5;
  margin: 0.4rem 0;
}
*/