<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.container-1{
=======
/*Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Chakra+Petch&family=Dongle:wght@300&family=Josefin+Sans:wght@200&family=Luxurious+Roman&family=Mochiy+Pop+P+One&family=Roboto:ital,wght@0,300;1,100;1,300&family=Yanone+Kaffeesatz:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body-index{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
}
.slide-container{
  max-width: 1120px;
  width: 100%;
  background-color: grey;
  padding: 40px 0;
}
.slide-content-index{
  margin: 0 40px;
}
.card{
  border-radius: 25px;
  background-color: #fff;

}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content{
  position: relative;
  row-gap:5px;
  padding: 25px 0; 
}
.overly{
 position: absolute;
  left: 0;
  top: 0;
  height:100%;
  width: 100%;
  background-color: #4070f4;
  border-radius: 25px 25px 0 25px
}
.overly::before,
.overly::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #265DF2;
}
.overly::after{
  border-radius: 0 25px 0 0;
  background-color: white;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #fff;
  padding: 3px;
}
.card-index{
  border-radius: 25px;
  background-color: #FFF;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070f4;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button{
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #4070f4;
  border-radius: 6px;
  margin: 14px; 
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: #265df2;
}


/*
.container-1-index{
>>>>>>> b5e526a3aee62d38dc1f5bb7363878a476074419
    min-height: 100vh;
    width: 100%;
    background-image: url("mainpic.jpg");
    background-size: cover;
    position: relative;
    border: 20px solid;
    display: flex;
}
<<<<<<< HEAD

.box-1{
  position: relative;
  top: -50px;

}



.navbar{
    font-size: larger;
    font-display: center;

}

.navbar-text{
    color: goldenrod;
   

}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .fa:hover {
    opacity: 0.7;
  }
  

  .fa-facebook {
    background: #3B5998;
    color: white;
}

.footer{
    background-color: black;
    font-size: large;

}

.fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-linkedin {
    background: #c555ee;
    color: white;
  }
  .hover_effect {
    height:25%;
    width: auto; 
  }
   
  .hover_effect:hover {
    height: 100%;
    width: auto;
  }
=======
*/
/*this comment is for Card slider in html/home page created on- 7-8-22
body.card{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EFEFEF;
}*/






/*this line indicate the END of Home page card slider above (comment is for Card slider in html/home page)*/







/*The content below this line is for the new foorter that i have just created today Monday 6/27/2022. */
*{
  box-sizing: border-box;
  font-family: ’Lato’, sans-serif;
  margin: 0; 
  padding: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
footer {
  background-color: #555;
  color: #bbb;
  line-height: 1.5;
}
footer a {
  text-decoration: none;
  color: #eee;
}
a:hover {
  text-decoration: underline;
}
.ft-title {
  color: #fff;
  font-family: ’Merriweather’, serif;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}
/* the css for the new footer continues here (below this line) */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.container {
  flex: 1;    /* same as flex-grow: 1; */
}
/* the code below will line up the new footer */
.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}
.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem /*200px*/;
}

/* this line of code will style the newsletter Form Footer*/
form {
  display: flex;
  flex-wrap: wrap;
}
input[type="email"] {
  border: 0;
  padding: 0.625rem;
  margin-top: 0.3125rem;
}
input[type="submit"] {
  background-color: #00d188;
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
}

/* this line of code will Line Up the Social Footer*/
.ft-social {
  padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px #777 solid; 
  padding-top: 1.25rem;
}
.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
}

/* this line of code will Line Up the Legal Footer*/
.ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: #333;
}
.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
  flex: 1;       /* same as flex-grow: 1; */
}

/* this line works for About Us page*/
.section{
  width: 100%;
  min-height: 100vh;
  background-clor: #ddd;
}
.container{
  width: 80%;
  display: block;
  margin: auto
  padding-top: 100px;
}

>>>>>>> b5e526a3aee62d38dc1f5bb7363878a476074419
