@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Chakra+Petch&family=Dongle:wght@300&family=Josefin+Sans:wght@200&family=Luxurious+Roman&family=Mochiy+Pop+P+One&family=Roboto:ital,wght@0,300;1,100;1,300&family=Yanone+Kaffeesatz:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}

.navbar{
    font-size: larger;
    font-display: center;    

}

.navbar-text{
    color: rgb(236, 235, 230);
}

/* start of header */
header {
    position: relative;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    
  }
  
header video {
  position: absolute;
  background-color: black;
  border: 10px solid ;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 1300px;
  height: 500px;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  }
  
  
header .container {
  position: relative;
  z-index: 2;
  }
/* Carousel */

.carousel {
    width:60vh;
    height:40vh;
  }

/* start of footer */

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 0 5px;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .footer{
    background-color: black;
    font-size: large;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-linkedin {
    background: #c555ee;
    color: white;
  }
  .hover_effect {
    height:25%;
    width: auto; 
  }
   
  .hover_effect:hover {
    height: 100%;
    width: auto;
  }
  